
* {
  scroll-behavior: smooth;
}
:root {
  --tawk-header-background-color: #4457f2;
  --tawk-header-background-color: #514bef !important;
}
body {
  font-family: "poppins", "Hind Madurai", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #6d7485;
}

/*Start Header navtop */
.header .header-nt {
  height: 4rem;
  background: #f9fbfd;
  color: transparent;
}
.header .header-nt a {
  color: #333;
}
.header-nt p {
  font-size: 1.2rem;
  line-height: 4rem;
  margin-bottom: 0;
}
.header .header-nt {
  background-image: linear-gradient(to bottom right, #5a43ed, #008fff) !important;
}

.header .header-nt a {
  color: #fff;
}
.header .header-nt li:last-child {
  float: right;
  margin-top: 5px;
  display: none;
}
.mobile .header .header-inner {
  background-color: #fff;
  border-top: none;
}
.mobile .header .header-inner {
  border-bottom: 1px solid #eee;
}
.mobile .header + .content {
  padding-top: 0;
}
@media only screen and (max-width: 960px) {
  .header .header,
  .header .header-inner,
  .header.header-transparent .header-inner {
    background-color: #fff;
  }
  .header .header-inner {
    border-bottom: 1px solid #eee;
  }
  .header .header-inner > .nav-bar {
    padding: 0;
  }
}
@media only screen and (max-width: 960px) {
  .header .dropdown a:not(.nav-icon) + .dropdown-list {
    margin-top: 2.2rem;
  }
  .header .v-align-middle > .button:not(.nav-icon),
  .header .dropdown > .button:not(.nav-icon) {
    background: #2c2e30;
    border-color: transparent;
    color: #fff;
  }
  .header .v-align-middle > .button:not(.nav-icon):hover,
  .header .dropdown > .button:not(.nav-icon):hover {
    background-color: #6773f1;
    border-color: transparent;
    color: #fff;
  }
  .header .navigation .nav-icon {
    color: #666;
  }
  .header .navigation .nav-icon:hover,
  .header .dropdown .nav-icon.active {
    color: #000;
  }
}

/*End navtop */
/* start nav bottom */
.header .logo,
.header .header-inner .navigation > ul > li,
.header .header-inner .navigation > ul > li > a:not(.button),
.header-sub {
  height: 6rem;
  line-height: 4rem;
  font-size: 16px;
  font-weight: 500;
}
.header .header-inner {
  background-color: #fff;
  border-bottom: none;
  border-bottom: 1px solid #ecedf2;
}
.header.shadow .header-inner {
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  width: 12.5rem;
}

.header .logo a {
  display: block !important;
  position: absolute;
  top: 0;
}
.header-in .logo a,
.header-out .logo a {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.header .logo a:first-child {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.header-transparent .logo a:first-child {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.mobile .header .logo a:first-child {
  display: block !important;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media only screen and (max-width: 960px) {
  .header .logo-inner {
    display: table-cell;
    vertical-align: middle;
  }
  .header .logo {
    width: 11rem;
  }
  .header .logo a {
    position: relative;
  }
  .header .logo a:first-child {
    opacity: 1;
    top: 0;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }
  .header .logo a:last-child {
    display: none !important;
  }
}
.header .navigation > ul > li > a,
.header-sub .navigation > ul > li > a {
  color: #959faa;
  opacity: 1;
}
.header .navigation > ul > li.current > a,
.header .navigation > ul > li > a:hover,
.header-sub .navigation > ul > li.current > a,
.header-sub .navigation > ul > li > a:hover {
  color: #000;
  opacity: 1;
}
.header .navigation > ul > li.current > a:hover,
.header-sub .navigation > ul > li.current > a:hover {
  color: #000;
}
.navigation .nav-icon [class*="icon-"]::before, .header .social-list [class*="icon-"] {
  margin: 5px 0 0 0;
  line-height: inherit;
  float: none;
  font-size: 21px;
}
@media only screen and (min-width: 960px) {
  .header-transparent .navigation > ul > li > a:not(.button) {
    color: #fff;
    opacity: 0.6;
  }
  .header-transparent .navigation > ul > li > a:not(.button):hover {
    color: #fff;
    opacity: 1;
  }
  .header-transparent .navigation > ul > li.current > a:not(.button),
  .header-transparent .navigation > ul > li.current > a:not(.button):hover {
    color: #fff;
    opacity: 1;
  }
}
@media only screen and (min-width: 960px) {
  .header-transparent .with-division ul {
    border-left-color: rgba(255, 255, 255, 0.2);
  }
  .header-transparent .with-division li {
    border-right-color: rgba(255, 255, 255, 0.2);
  }
}
@media only screen and (min-width: 961px) {
  .header-transparent .navigation .navigation-show.nav-icon {
    color: #fff;
    border-color: transparent;
    opacity: 0.6;
  }
  .header-transparent .navigation .navigation-show.nav-icon:hover {
    color: #fff;
    border-color: transparent;
    opacity: 1;
  }
}
@media only screen and (max-width: 960px) {
  .header .navigation-show {
    margin-left: 2rem;
  }
  .header .navigation-show a {
    color: #666;
    border-color: #eee;
  }
  .header .navigation-show a:hover {
    color: #000;
    opacity: 1;
  }
  .overlay-navigation-header {
    top: 2rem;
  }
  .overlay-navigation-wrapper .navigation-hide {
    top: 0;
    right: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  [class*="intro-title-"],
  [class*="intro-title-"].small {
    padding: 6rem 0;
    height: auto;
  }
}

/* End nav bottom */
/* End header bottom */

/* Sidebar style*/
.side-navigation-wrapper .logo {
  width: 12rem;
}
.side-navigation-wrapper {
  background-color: #fff;
  box-shadow: none !important;
  border-right: 1px solid #ecedf2;
}
.side-navigation-wrapper.enter-right {
  border-left: 1px solid #ecedf2;
  border-right: none;
}
.side-navigation-header {
  border: none;
}
.side-navigation > ul > li > a {
  padding: 0.6rem 4rem;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 400;
  color: #959faa;
  position: relative;
}
.side-navigation ul li.current > a {
  color: #212325;
  font-weight: 400;
}
.side-navigation > ul > li > a:after {
  width: 3px;
  height: 0;
  margin-left: 0;
  content: "";
  background-color: #7693f4;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition-property: height, opacity;
  -ms-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  transition-duration: 500ms;
}
.side-navigation > ul > li.current > a:after {
  height: 100%;
  opacity: 1;
}
.side-navigation-wrapper .navigation-hide {
  margin-right: 2rem;
}
.side-navigation-wrapper .navigation-hide af {
  color: #959faa;
}
.side-navigation-wrapper .navigation-hide a:hover {
  color: #212325;
}
.side-navigation .sub-menu {
  background: none;
}
.side-navigation .sub-menu a {
  text-transform: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #959faa;
}
.side-navigation .sub-menu a:hover {
  color: #212325;
}
.side-navigation .sub-menu li:first-child {
  padding-top: 1rem;
}
.side-navigation .sub-menu li:last-child {
  padding-bottom: 1rem;
}
.side-navigation .custom-content > *:first-child {
  padding-top: 2rem;
}
.side-navigation .custom-content > *:last-child {
  padding-bottom: 2rem;
}
.side-navigation .sub-menu:not(.custom-content) a {
  padding: 1.1rem 4rem 1.1rem 5.5rem;
}
.side-navigation.center .sub-menu:not(.custom-content) a {
  padding: 1.1rem 4rem 1.1rem 4rem;
}
.side-navigation .cart .badge {
  width: 1rem;
  height: 1rem;
  background-color: #2fca74;
  top: 0.6rem;
  left: 0;
}
.side-navigation .cart-overview .product-title {
  color: #fff;
}
.side-navigation .cart-overview .product-price,
.side-navigation .cart-overview .product-quantity {
  color: #959faa;
}
.side-navigation .cart-overview a.product-remove {
  background-color: #ecedf2;
  color: #6d7485;
}
.side-navigation .cart-overview .cart-subtotal {
  border-top: 1px solid #ecedf2;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #6d7485;
}
.side-navigation .cart-overview .cart-actions {
  border-color: #ecedf2;
}
.side-navigation .cart-overview .checkout.button {
  margin: 0;
  background-color: #6773f1;
  border-color: #717dfb;
  color: #fff;
}
.side-navigation .cart-overview .checkout.button:hover {
  background-color: #717dfb;
  border-color: #717dfb;
  color: #fff;
}
.side-navigation ul li a:hover,
.side-navigation ul li.current a:hover {
  color: #212325;
}
.side-navigation-footer .widget p,
.side-navigation-footer .widget a {
  color: #666;
  font-size: 1.3rem;
}
.side-navigation-footer .widget a:hover {
  color: #fff;
}
.side-navigation-footer,
.side-navigation-footer .social-list a {
  color: #666;
  font-size: 1.1rem;
}
.side-navigation-footer .social-list a:hover {
  color: #fff;
}
.side-navigation-footer .copyright {
  font-size: 1.1rem;
}
@media only screen and (min-width: 768px) {
  .side-navigation-wrapper.side-nav-wide {
    width: 50%;
  }
  .element-reveal-right.side-nav-wide {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media only screen and (max-width: 1140px) {
  .side-navigation-wrapper.side-nav-wide {
    width: 70%;
  }
  .element-reveal-right.side-nav-wide {
    -webkit-transform: translate3d(-70%, 0, 0);
    transform: translate3d(-70%, 0, 0);
  }
}
@media only screen and (max-width: 600px) {
  .side-navigation-wrapper.side-nav-wide {
    width: 100%;
  }
  .element-reveal-right.side-nav-wide {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
/* End sidebar */


/* Main content style*/
.featured-media,
.full-width-slider,
.parallax {
  height: 60rem;
  padding: 0;
}
.window-height {
  height: 100vh;
}
.hero-slider.window-height {
  min-height: 100vh;
}
.parallax.page-intro,
.page-intro {
  height: 45rem;
}
.parallax.small,
.page-intro.small {
  height: 30rem;
}
.page-intro .full-width-slider,
.window-height .full-width-slider {
  height: inherit;
}
.logo-slider,
.testimonial-slider,
.team-slider,
.recent-slider .thumbnail {
  min-height: 5rem;
}
/* Featured Slider Nav Breakpoints */
@media only screen and (max-width: 768px) {
  .featured-media .tms-pagination a {
    display: inline-block;
  }
  .featured-media .tms-arrow-nav {
    display: none !important;
  }
}
@media only screen and (max-width: 960px) {
  .tml-padding-small #tml-content-wrapper {
    left: 5% !important;
    right: 5% !important;
  }
  .tml-form-modal .modal-dialog-inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .tml-modal-mode .modal-dialog {
    width: 100% !important;
  }
  .tml-modal-mode .modal-dialog > div {
    padding-left: 0;
    padding-right: 0;
  }
  .tml-swap-exit-light #tml-exit {
    color: #fff;
  }
  .tml-modal-mode .hero-5 {
    padding-bottom: 2rem;
  }
  .tml-modal-mode
    .hero-5
    .column:first-child:not(.media-column)
    .split-hero-content {
    margin-top: 4rem;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #6773f1;
    border-bottom-color: #6773f1;
  }
  40% {
    stroke: #2fca74;
    border-bottom-color: #2fca74;
  }
  66% {
    stroke: #6773f1;
    border-bottom-color: #6773f1;
  }
  80%,
  90% {
    stroke: #2fca74;
    border-bottom-color: #2fca74;
  }
}
@media only screen and (max-width: 960px) {
  .sidebar .sidebar-inner {
    margin-top: 7rem;
    border-top-color: #ecedf2;
  }
}
/* Button */
.button {
  text-transform: none;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}
.button-content {
  line-height: 1;
}
/* Lists */
.list-horizontal.flex li {
  width: 33.33333%;
}
/* Dropdown */
.dropdown-list a.active {
  color: #f5f7f9;
}
.dropdown-list {
  width: 18rem;
  border: 1px solid #ecedf2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.list-up .dropdown-list {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.dropdown .button {
  min-width: 10rem;
}
.dropdown-label + .dropdown {
  margin-left: 1rem;
}
/* animation */
.tab-panes .tab-content {
  -webkit-transition-property: transform, opacity, visibility;
  transition-property: transform, opacity, visibility;
  -webkit-transition-duration: 1000ms;
  transition-duration: 1000ms;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
}
.tab-panes .animate-in .tab-content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 480px) {
  .tabs.button-nav .tab-nav {
    display: inline-block;
  }
  .tabs.button-nav.vertical .tab-panes {
    padding: 0 0 0 3.5rem;
  }
  .tabs.button-nav.vertical .tab-panes,
  .tabs.line-nav.vertical .tab-panes {
    padding: 0 0 0 3.5rem;
    margin: 0 !important;
  }
  .tabs.button-nav.vertical.right .tab-panes,
  .tabs.line-nav.vertical.right .tab-panes {
    padding: 0 3.5rem 0 0;
    margin: 0 !important;
  }
  .tabs.button-nav:not(.vertical).bordered .tab-nav {
    padding: 0.4rem;
    border: 1px solid #ecedf2;
  }
  .tabs.line-nav.vertical .tab-nav > li a {
    padding-left: 0;
    border: none;
    border-right: 1px solid #eee;
  }
  .tabs.line-nav.vertical.right .tab-nav > li a {
    padding-left: 2.5rem;
    padding-right: 0;
    border: none;
    border-left: 1px solid #eee;
  }
  .tabs.line-nav.vertical .tab-nav > li.active a,
  .tabs.line-nav.vertical .tab-nav > li.active a:hover {
    border: none;
    border-right: 1px solid #2fca74;
  }
  .tabs.line-nav.vertical.right .tab-nav > li.active a,
  .tabs.line-nav.vertical.right .tab-nav > li.active a:hover {
    border: none;
    border-left: 1px solid #2fca74;
  }
}
@media only screen and (max-width: 600px) {
  .price {
    position: fixed !important;
    top: 80px !important;
    right: 0px !important;
  }
}
@media only screen and (min-width: 610px) {
  .price {
    position: absolute !important;
    top: 10px !important;
    right: 0px !important;
  }
}
@media only screen and (min-width: 601px) {
  .row .col-1-of-3 {
    width: 28%;
    /* calc((100% - 1 * 6rem) / 3); */
  }
}

@media only screen and (max-width: 600px) {
  .row .col-1-of-3 {
    width: 80%;
    padding: 0 0 0 8rem;
    /* calc((100% - 1 * 6rem) / 3); */
  }
}
.px-5 {
  padding-left: 2.5rem;
}

.card__price-box p {
  margin: 0 0 0rem !important;
}

.blue-grd {
  border: 0 !important;
}
.text-center {
  text-align: center;
}

.bkg-gradient-royal-garden {
  background-image: linear-gradient(
    to bottom right,
    #5a43ed,
    #008fff
  ) !important;
}


.tonse-h-logo {
  font-size: 20px;
  opacity: 1 !important;
  width: 100%;
  visibility: visible !important;
}
.header .logo-inner,
.header .v-align-middle {
  text-align: center;
}
.header .logo a {
  color: #000 !important;
  display: block !important;
}
.header-in .logo a {
  color: #fff !important;
}

.header-transparent .tonse-h-logo {
  color: #fff !important;
}
.header-transparent .logo .logo-inner a {
  color: #fff !important;
}
.header .logo a img {
  width: 50px;
  opacity: 1 !important;
}
@media only screen and (min-width: 610px) {
  .price {
    position: absolute !important;
    top: 8px !important;
    right: 0px !important;
  }
}

.box {
  background: #f9f9fd;
}
@keyframes changeColor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes changeColor2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.header-transparent .bkg-theme,
.tm-slider-container a.tms-caption,
.bkg-gradient-royal-garden .bkg-theme,
.hmok .bkg-theme {
  background-image: none !important;
  background-color: #fff !important;
  border-color: #fff !important;
  color: #032b63 !important;
}
.header-transparent .bkg-theme:hover,
.tm-slider-container a.tms-caption:hover,
.bkg-gradient-royal-garden .bkg-theme:hover,
.hmok .bkg-theme:hover {
  background-image: none !important;
  background-color: #0f45bd !important;
  border-color: #0f45bd !important;
  color: #ffffff !important;
}
.girl-img {
  max-width: 500px;
  width: 100%;
  margin-top: 150px;
}
@keyframes headerTitle {
  0% {
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 960px) {
  .feature-content-inner {
    padding-top: 0;
  }
  .mt-150-md {
    margin-top: 100px;
  }
  .girl-img {
    margin-top: 50px;
  }
  .re-re-re .width-3 {
    width: 50% !important;
  }
}
@media only screen and (max-width: 1150px) {
  .re-re-re .width-3 {
    width: 33.333% !important;
  }
}
@media only screen and (max-width: 600px) {
  .girl-img {
    display: none;
  }
  .sca-1 {
    transform: scale(1) !important;
    margin: 10px 0 !important;
  }
  .re-re-re .width-3 {
    width: 100% !important;
  }
}


@keyframes blink {
  0%,
  20% {
    opacity: 0;
  }
  25%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 767.98px) {
  .header-transparent .logo .logo-inner a {
    color: #0e81fc !important;
    display: block !important;
  }
  .d-in-mobile-none {
    display: none;
  }
  .caret {
    margin-top: 0 !important;
  }
  .mobile .featured-media,
  .mobile .parallax.fixed-height {
    height: 500px !important;
  }
  .mobile .featured-media .tms-content-inner {
    height: 500px !important;
    display: block;
    padding-top: 45px;
  }
  .tm-slider-container ul {
    list-style-type: none;
    margin-top: 0;
  }
  .tms-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-left: -14px;
    margin-top: 0;
    margin-right: auto;
    display: table;
    table-layout: fixed;
    text-align: center;
  }

  .mobile .featured-media .mt-150-md {
    margin-top: -4px !important;
  }
  .rotate-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .desktop-tool {
    display: none;
  }
  .mobile-tool  {
    display: block;
  }
}

